<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCBh...</string>
	<key>GCM_SENDER_ID</key>
	<string>657377177256</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Y8A7U6MFMM.org.reactjs.native.example.taxiiApp</string>
	<key>PROJECT_ID</key>
	<string>thetaxi-b012b</string>
	<key>STORAGE_BUCKET</key>
	<string>thetaxi-b012b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:657377177256:ios:2bbc2b06a5af0aea3e5c9d</string>
</dict>
</plist>